* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  margin: 4px;
  padding: 5px;
  width: 300px;
  height: 400px;
  border: 2px solid black;
}

.image {
  width: 100%;
}

.type {
  background-color: lightgray;
  color: white;
  border-radius: 20px;
  font-size: 10px;
  margin: 5px;
  padding: 3px 20px;
  text-transform: uppercase;
}
